@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    background-color: black;
    text-align: center;
    font-family:'Poppins', sans-serif;
}

body{
    color: white;
}

.Profile{
   width: 25%;
   border-radius: 50%;  
   
}

.block{
    display: block;
    text-decoration: none;
    margin: 30px;
    color: black;
    background-color: white;
    padding: 30px;
    box-shadow: 15px 15px grey;
}

.block:hover{
    cursor:grab;
   background-color: black;
   color: white;
   transition: 2s;
}
a{
    color: white;
}

.icon1:hover{
    color: #1877f2;
}
.icon2:hover{
    color: #E4405F;
}
.icon3:hover{
    color: #0077b5;
}
.icon4:hover{
    color: #171515;
}
#link{
    color: darkblue;
    text-decoration: none;
    font-weight: bolder;
}

#link:hover{
    font-weight:900;
    text-decoration:underline;
    cursor:grabbing;
}